div.stt i {
  transform: rotate(90deg);
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-title::before {
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 1px;
  width: 120px;
  bottom: 1px;
  display: block;
  left: calc(50% - 60px);
}
.main-title::after {
  content: "";
  position: absolute;
  background-color: #0563bb;
  width: 40px;
  height: 3px;
  bottom: 1px;
  left: calc(50% - 20px);
  display: block;
}
.main-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
  margin-top: 0;
}
section {
  overflow: hidden;
  padding: 60px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}
header.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 15px;
  z-index: 99999999;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}
nav.menu {
  padding: 0;
  display: block;
}
nav.menu * {
  padding: 0;
  margin: 0;
}
nav.menu ul li {
  position: relative;
}
nav.menu a,
nav.menu a:focus {
  cursor: pointer;
  padding: 10px 18px;
  overflow: hidden;
  transition: 0.4s;
  background-color: #f2f3f5;
  border-radius: 50px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  color: #45505b;
  white-space: nowrap;
}
nav.menu ul li a:hover {
  color: #fff;
  background-color: #0563bb;
  width: 100%;
  border-radius: 50px;
}
nav.menu ul li a:hover span {
  display: block;
}
nav.menu ul li a span {
  font-size: 15px;
  display: none;
  padding: 0 5px 0 7px;
  white-space: nowrap;
}
main#main {
  margin-left: 100px;
}
nav.menu a.active {
  color: #fff;
  background-color: #0563bb;
}
.hero {
  width: 100%;
  display: flex;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top right no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.hero::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .hero-container {
  position: absolute;
  padding: 60px 0 60px 172px;
}
.hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}
.hero p {
  margin: 20px 0 30px;
  font-size: 26px;
  color: #45505b;
  font-family: Poppins, sans-serif;
}
.hero p span {
  color: #0563bb;
  letter-spacing: 1px;
}
.hero .icons a {
  color: #45505b;
  margin-right: 20px;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  transition: 0.3s;
}
.hero .icons a:hover {
  color: #0563bb;
}
.hero .hero-container > a.button {
  margin: 25px 0 0 25px;
  color: #0678e3;
  border-radius: 40px;
  width: fit-content;
  border: #0678e3 solid 3px;
  display: block;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  transition: 0.3s;
}
.hero .hero-container > a.button:hover {
  color: #fff;
  background-color: #0678e3;
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.about .image {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.about img {
  max-width: 100%;
  height: auto;
}
.row > * {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.about .content {
  flex: 0 0 auto;
  width: 66.66666667%;
  padding-top: 0 !important;
}
.section-title p {
  margin: 0;
}
p {
  line-height: 1.5;
}
.about .content h3 {
  color: #728394;
  margin: 0 0 8px;
  font-size: 26px;
}
.about .content p:first-of-type {
  margin: 0 0 16px;
  font-style: italic;
}
.about .content p:last-of-type {
  margin: 0;
}
.row .column {
  flex: 0 0 auto;
  width: 50%;
}
.about .content > .row ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.about .row .content > .row ul li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.about .content > .row ul li i {
  font-size: 35px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}
.about .content > .row ul li strong {
  margin-right: 10px;
}
.about .content > .row ul li {
  font-size: 18px;
}
.facts .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 40px;
}
.facts .count-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.facts i {
  font-size: 30px;
  background-color: #0563bb;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facts span {
  font-size: 36px;
  font-weight: 600;
  color: #011426;
  margin: 10px 0;
}
.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
}
.skills .progress {
  height: 60px;
  display: block;
}
.skills .skill {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #45505b;
  text-transform: uppercase;
}
.skills .progress-bar-wrap {
  width: 100%;
  background-color: #f2f2f2;
  position: relative;
  height: 12px;
}
.skills .progress-bar-wrap div {
  background-color: #0563bb;
  height: 100%;
  width: 0%;
  transition: width ease-in-out 0.9s;
  position: relative;
}
.resume .column h3 {
  margin: 20px 0;
  color: #45505b;
  font-size: 26px;
  font-weight: 700;
}
.resume .card {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.resume .card::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}
.resume .column .card h4 {
  margin: 0 0 10px;
  color: #0563bb;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 18px;
}
.resume .column .card p.date {
  padding: 5px 15px;
  margin: 0 0 10px;
  background-color: #f7f8f9;
  width: fit-content;
  font-weight: 600;
}
.resume .column .card:last-child {
  padding-bottom: 0;
}
.resume .column .card ul {
  margin: 16px 0 16px;
  list-style-type: disc;
  padding-left: 20px;
}
.resume .column .card ul li {
  padding-bottom: 10px;
}
.resume {
  line-height: 1.5;
}
.portfolio ul#portfolio-flters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
.portfolio ul#portfolio-flters li {
  text-transform: uppercase;
  color: #272829;
  transition: 0.3s;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.portfolio ul#portfolio-flters li.active,
.portfolio ul#portfolio-flters li:hover {
  color: #0563bb;
}
.portfolio .portfolio-container .column {
  flex: 0 0 auto;
  width: 100% !important;
  margin-bottom: 30px;
}
.portfolio .portfolio-container .column img {
  max-width: 100%;
}
.portfolio .portfolio-container {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  display: grid;
  min-height: 600px;
}
.portfolio .portfolio-wrap {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.portfolio .portfolio-wrap::before {
  content: "";
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-info::after,
.portfolio .portfolio-info::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease 0s;
}
.portfolio .portfolio-info::before {
  border-left: 3px solid #d7dce1;
  border-top: 3px solid #d7dce1;
  top: 35px;
  left: 35px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-info::after {
  border-right: 3px solid #d7dce1;
  border-bottom: 3px solid #d7dce1;
  bottom: 35px;
  right: 35px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
.portfolio .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}
.portfolio .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-info a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-info a:hover {
  color: #0678e3;
}
.services .services-row > * {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.services .services-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.services .services-column {
  margin-bottom: 25px;
}
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px;
  box-shadow: 0 4px 20px 0 rgb(110 123 131 / 15%);
  background-color: #fff;
  transition: ease-in-out 0.3s;
}
.services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.services .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}
.services h4 {
  font-size: 22px;
  color: #45505b;
  margin: 10px 0 15px 0;
  font-weight: 700;
}
.services p {
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}
.services .icon-box:hover {
  box-shadow: 0 10px 35px 0 rgb(0 0 0 / 8%);
  transform: translateY(-10px);
}
.services i {
  font-size: 36px;
  transition: 0.5s;
  position: absolute;
}
.iconbox-blue i {
  color: #47aeff;
}
.iconbox-orange i {
  color: #ffa76e;
}
.iconbox-pink i {
  color: #e80368;
}
.iconbox-yellow i {
  color: #ffbb2c;
}
.iconbox-red i {
  color: #ff5828;
}
.iconbox-teal i {
  color: #11dbcf;
}
.icon-box:hover .icon i {
  color: #fff;
}
.iconbox-blue:hover .icon path {
  fill: #47aeff;
}
.iconbox-orange:hover .icon path {
  fill: #ffa76e;
}
.iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}
.iconbox-red:hover .icon path {
  fill: #ff5828;
}
.iconbox-teal:hover .icon path {
  fill: #11dbcf;
}
.iconbox-pink:hover .icon path {
  fill: #e80368;
}
.testimonials-item {
  text-align: center;
  width: 100%;
}
.testimonials-item img {
  max-width: 120px;
  border-radius: 50%;
}
.testimonials-item h3 {
  font-weight: 700;
  margin: 10px 0 5px;
  color: #111;
  font-size: 20px;
}
.testimonials-item h4 {
  margin: 0 0 15px;
  color: #999;
  font-size: 14px;
}
.testimonials-item p {
  font-style: italic;
  margin: 0 111.6px 15px;
}
.testimonials-item i {
  font-size: 26px;
  color: #90c8fc;
}
.testimonials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
}
.testimonials ul li {
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  border: #0563bb 2px solid;
  background: #fff;
  transition: 0.3s;
  border-radius: 50%;
}
.testimonials ul li.active {
  background: #0563bb;
}
.slider {
  overflow: hidden;
}
.testimonial-container {
  display: flex;
  overflow: hidden;
  width: 500%;
  transition: transform ease 0.8s;
  transform: translate(0);
}
.contact .row .column:first-child {
  width: calc(100% / 3);
}
.contact .row .column:last-child {
  width: calc((100% / 3) * 2);
}
.contact .row .column .info > div:not(:first-child) {
  margin-top: 40px;
}
.contact .row .column .info div:hover i {
  color: #fff;
  background-color: #0563bb;
}
.contact .row .column .info div i {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #eef7ff;
  font-size: 30px;
  color: #0563bb;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  float: left;
}
.contact .row .column .info div h4 {
  color: #45505b;
  font-size: 22px;
  padding-left: 60px;
  font-weight: 600;
  margin: 0 0 5px;
}
.contact .row .column .info div p {
  color: #728394;
  font-size: 14px;
  padding-left: 60px;
  margin: 0;
}
.contact .row .column form .row .column {
  width: 50%;
  padding-bottom: 8px;
}
.contact .form-group {
  margin-top: 1rem;
}
.contact .form-control {
  color: #212529;
  background-color: #fff;
  display: block;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #ced4da;
  height: 44px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.contact form.php-email-form textarea {
  resize: none;
  height: 140px;
}
.contact form.php-email-form .text-align {
  text-align: center;
  margin-top: 1rem;
}
.contact form.php-email-form .text-align .send {
  background-color: #0678e3;
  padding: 10px 35px;
  border: none;
  border-radius: 50px;
  color: #fff;
  transition: 0.3s;
  height: 44px;
  cursor: pointer;
}
.contact form.php-email-form .text-align .send:hover {
  background-color: #0563bb;
}
.contact .form-control:focus {
  color: #000;
  border-color: #86b7fe;
}
footer#footer {
  padding: 30px 0;
  background-color: #f7f8f9;
  text-align: center;
  color: #45505b;
  font-size: 14px;
}
footer h3 {
  font-size: 36px;
  margin: 0 0 15px;
  font-family: Poppins, sans-serif;
}
footer p {
  font-style: italic;
  margin: 0 0 40px;
  font-size: 15px;
}
footer .social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 0 40px;
}
footer .social-links a {
  font-size: 18px;
  color: #fff;
  background-color: #0563bb;
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
footer .social-links a:hover {
  background-color: #0678e3;
}
footer .copyright {
  margin: 0 0 10px;
}
footer .credits {
  font-size: 13px;
}
footer .credits a {
  color: #0678e3;
  transition: 0.3s;
  font-weight: 700;
}
footer .credits a:hover {
  color: #0563bb;
}
.burger-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin: auto;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 20px 3px rgb(0 0 0 / 23%);
  border-radius: 10px;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.burger-menu .inside-burger,
.burger-menu .inside-burger::after,
.burger-menu .inside-burger::before {
  width: 27px;
  height: 3px;
  background-color: #0678e3;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  display: block;
}
.burger-menu .inside-burger::after,
.burger-menu .inside-burger::before {
  content: "";
  position: absolute;
}
.burger-menu .inside-burger::before {
  transform: translateY(-9px);
}
.burger-menu .inside-burger::after {
  transform: translateY(9px);
}
.burger-menu.open .inside-burger {
  transform: translateX(-40px);
  background-color: transparent;
  box-shadow: none;
}
.burger-menu.open .inside-burger::before {
  transform: rotate(45deg) translate(28px, -28px);
}
.burger-menu.open .inside-burger::after {
  transform: rotate(-45deg) translate(28px, 28px);
}
header.menu.active {
  left: 0;
}
div.stt {
  display: flex;
  background-color: #0678e3;
  width: 40px;
  height: 41px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  z-index: 99999999;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 28px;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
div.stt:hover {
  background-color: #0563bb;
}
div.stt.active {
  visibility: visible;
  opacity: 1;
}
@keyframes hidden {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes visible {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 767px) {
  .about .row .content > .row .column {
    flex: 0 0 auto;
    width: 100% !important;
    padding-left: 30px;
  }
  .about .row .content > .row .column ul li {
    margin-bottom: 20px;
  }
  .services-column {
    margin: 0 auto 25px;
    width: 85%;
  }
  .hero .hero-container h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #45505b;
  }
  .hero .hero-container {
    display: flex;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-container > a.button {
    margin: 20px 0 0;
    color: #0678e3;
    border-radius: 40px;
    border: #0678e3 solid 3px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    position: static;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .about .content {
    text-align: unset;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 992px) {
  .column {
    width: 100% !important;
  }
  .testimonials .testimonials-item p {
    margin: 0 12px 15px;
  }
  .burger-menu {
    display: flex;
  }
  main#main {
    margin: 0 15px;
  }
  header.menu {
    left: -90px;
  }
  .about .row .content h3 {
    margin: 10px 0;
  }
  .about .row .column {
    width: 50% !important;
  }
  .contact .row .column .info > div:last-child {
    margin: 40px 0;
  }
  .about .content,
  .about .image {
    width: 100%;
    text-align: center;
  }
  .about .image {
    text-align: center;
  }
}
.section-title p {
  font-size: 16px;
}
